* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}
.wrapper > * {
	width: 50vw;
}

#preview > iframe {
	width: 100%;
	height: 100%;
}
